# gmPower: Players whose "player power" is at least this number will be able to bypass this mod (that
#          is, they will be able to create settlements).
#          Players whose "player power" is below this number will not.
#
# From Wurmpedia:
#     0 - Normal Player. Cannot use any wands.
#     1 - Hero: Has limited abilities and can mostly move around invisible and teleport but not see
#         character details or affect anything. They can be given a wand of teleportation to move
#         around with.
#     2 - GM: Standard GM-level. This level and above can set players as CA or CM, move players, ban
#         players, lookup player information etc. This level can use the ivory wand to invoke various
#         GM powers.
#     3 - High God: A Higher level than GM. There's no significant difference in power between a High
#         God and a GM.
#     4 - Arch GM: High level GM that can spawn items and creatures, set skills, shutdown servers, and
#         so on. This level can do nearly everything a level 5 can and has the ability to use the
#         ebony wand as well as the ivory wand.
#     5 - Implementor: Highest level, very little difference from Arch GM.
#
# Default: 5
gmPower=5
